---

---

<div class="flex flex-col sm:flex-row items-center gap-5 opacity-80">
    <img class="w-full max-w-60 max-h-60 sm:order-2 mx-auto rounded-2xl border-4 dark:border-zinc-600" src="/images/perfil-about.jpg" alt="">

    <div class="flex flex-col max-w-100 sm:order-1">
        <p class="font-sans font-semibold text-sm sm:text-md mb-2">
            Soy desarrollador web y vivo en Santa Fe, Argentina. Desde hace un año estudio PHP, Symfony, JavaScript, React y TailwindCSS de manera autodidacta.
        </p>
        <p class="font-sans font-semibold text-sm sm:text-md mb-2">
            He profundizado en estos temas a través de libros como JavaScript Eloquent, You Don't Know JavaScript y Clean Code.
        </p>
        <p class="font-sans font-semibold text-sm sm:text-md">
            Complemento mi aprendizaje con cursos en Udemy y Platzi, siempre buscando mejorar mis habilidades y explorar nuevas tecnologías. Mi objetivo es crear soluciones eficientes y escalables que brinden valor real a los proyectos en los que trabajo.
        </p>
    </div>
</div>