---
import ThemeToggle from './ThemeToggle.astro';
import BurgerToggle from './BurgerToggle.astro';

const navItems = [
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Habilidades",
        label: "habilidades",
        url: "/#habilidades",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Estudios",
        label: "estudios",
        url: "/#estudios",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
];
---

<header class="fixed top-0 left-1/2 transform -translate-x-1/2 z-10 grid grid-cols-2 sm:flex sm:flex-row items-center justify-between w-full max-w-2xl sm:mt-2 p-2 sm:px-4 opacity-[95] rounded-b-xl sm:rounded-xl
bg-gradient-to-b from-white/90  to-white/30
dark:bg-gradient-to-b dark:from-black/90 dark:to-black/30  backdrop-blur-lg">
    <div class="flex items-center justify-between w-full sm:w-auto order-0">
        <div class="flex items-center">
            <img
                class="rounded-full size-12 block sm:hidden me-2"
                src="/images/perfil.jpg"
                alt="photo by Nahuel González"
            />
            <a href="/" class="font-sans italic text-2xl font-semibold"> NauDev </a>
        </div>
    </div>
    
    <nav id="nav" class="items-center flex flex-col gap-10 sm:gap-5 sm:justify-between h-screen sm:flex sm:flex-row sm:h-auto order-3 col-span-2 hidden mt-10 sm:mt-0">
        {
            navItems.map((link) => (
                <a
                class="relative block transition hover:text-blue-600 dark:hover:text-blue-600 p-6 sm:p-0 font-semibold sm:font-medium text-3xl sm:text-base"
                    aria-label={link.label}
                    href={link.url}
                    >
                    {link.title}
                </a>
            ))
        }
    </nav>
    <div class="flex justify-end items-center gap-4 order-1 sm:order-3">
        <ThemeToggle />
        <BurgerToggle />
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sections = document.querySelectorAll("section");
        const navItems = document.querySelectorAll("header nav a");

        const callback = ( entries: any[] ) => {
            entries.forEach(( entry ) => {
                if (entry.isIntersecting) {
                    navItems.forEach(( item ) => {
                        if ( item.getAttribute("aria-label") == entry.target.id ) {
                            item.classList.add("text-blue-500");
                        } else {
                            item.classList.remove("text-blue-500");
                        }
                    });
                }
            });
        };

        const observer = new IntersectionObserver(callback, {
            root: null,
            rootMargin: "0px",
            threshold: 0.3,
        });

        sections.forEach(( section ) => {
            observer.observe( section );
        });

        // Cleanup function
        document.onvisibilitychange = () => {
            if ( document.visibilityState === "hidden" ) {
                observer.disconnect();
            } else {
                sections.forEach((section) => {
                    observer.observe(section);
                });
            }
        };
    });

</script>

<style>
    html {
        scroll-behavior: smooth;
    }

    header {
        animation: nav-shadow 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    @media (max-width: 640px) {
        header {
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
        }
    }

    @keyframes nav-shadow {
        0% {
            background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0)
            );
        }

        to {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
        }
    }
</style>
