---

const { class: classes } = Astro.props;

---

<a
    class=`max-w-40 rounded-xl border flex justify-center items-center gap-x-2 p-2 sm:py-2 sm:px-3 transition-colors duration-150 ease-in-out
    bg-black/5 border-black/10 hover:bg-black hover:text-white
    dark:bg-white/5 dark:border-white/10 dark:hover:bg-white/10 ${classes}`
    target="_blank"
    { ...Astro.props }
>
    <slot />
</a>