---
import StudiesItem from "./StudiesItem.astro"

const experiences = [
    {
        date: '2020 - 2024',
        title: 'Instituto Domingo Silva',
        certificate: 'Técnico Superior en Desarrollo de Software.',
        description: 'Durante esta tecnicatura, adquirí sólidos conocimientos en programación, diseño de software y bases de datos. También trabajé en proyectos prácticos que me permitieron aplicar metodologías ágiles y mejorar mis habilidades en trabajo en equipo.',
    },
    {
        date: 'Actualidad',
        title: 'Universidad Tecnológica Nacional',
        certificate: 'Técnico Universitario en Programación.',
        description: 'Actualmente, sigo ampliando mis conocimientos en desarrollo de software, enfocándome en la optimización de código, el diseño de algoritmos eficientes y la integración de tecnologías emergentes. También profundizo en bases de datos, seguridad informática y desarrollo escalable.',
    },
    {
        date: 'Actualidad',
        title: 'Centro de Enseñanza de Ingles',
        certificate: 'B2 (Upper Intermediate / Intermedio alto)',
        description: 'Actualmente, continúo estudiando inglés para fortalecer mis habilidades de comunicación oral y escrita. Este nivel me permite desenvolverme con confianza en conversaciones técnicas y profesionales, leer documentación especializada y participar en entornos laborales internacionales.',
    },
]
---
<ol class="flex flex-col gap-5 relative border-s border-gray-200 dark:border-gray-700 opacity-80">
    {
        experiences.map( experience => (
            <li class="ms-4">
               <StudiesItem {...experience} />
            </li>
        ) )
    }       
</ol>

